My workflow (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 10,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "247cc5e5-938d-4099-b5a9-504f72d713ee",
      "name": "Schedule Trigger",
      "executeOnce": false,
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/14pXH_keosN45IT-YsJGHwLtiDTwfDpU0rdSMIrkcZYI/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14pXH_keosN45IT-YsJGHwLtiDTwfDpU0rdSMIrkcZYI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "29143bc6-42c9-4194-87cd-98694ef898c4",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4wvLZBKydRKKFlt4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 4,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "29054b24-5807-4a47-9f8a-08e3918a8c83",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "fd39053e-3185-4017-bf60-e8d9e35b06a6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d4216717-15a0-4ef2-9bf7-4f2d386c9e0c",
              "leftValue": "={{ $json.Designation }}",
              "rightValue": "CEO",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "a16b8168-bcf5-4583-b06f-4fdfaaa003e6",
              "leftValue": "={{ $json.Country }}",
              "rightValue": "IND",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        544,
        -144
      ],
      "id": "dc08d89b-c881-4e28-8061-d54cd1375f69",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $json['E-Mail'] }}",
        "subject": "CEO -Feedback Form",
        "emailType": "text",
        "message": "=Respected  {{ $json.Name }},\n\nWe Seattle data and solutions gladly value your presence at our event we want your feedback for the event:\nhttps://docs.google.com/forms/d/e/1FAIpQLSc7BPG1E6yrCDyUIjUherRI0sn9LLoycHbi2GrVXPQxRkVCDQ/viewform?usp=header\nThanking Yor !!!!\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        752,
        -144
      ],
      "id": "656d4c52-9fdc-4d37-ac3f-1df9947d9173",
      "name": "Send a message",
      "webhookId": "f519309c-fb56-4d12-be6a-80f3b2497616",
      "credentials": {
        "gmailOAuth2": {
          "id": "sAn9iADsJiy2f1jA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json['E-Mail'] }}",
        "subject": "Customer Feedback Form - we ensure you give it",
        "emailType": "text",
        "message": "=Respected  {{ $json.Name }},\nWe were vey glad that you are attened the event and make it successfull now we want the feedback that how you felt that event :\nhttps://docs.google.com/forms/d/e/1FAIpQLScBwxPsslkNmvLbBt6pIGkhrMOb0lU7zTtkuB_T4qJcTBZNTg/viewform?usp=header\n\nThanking you!!!!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        800,
        0
      ],
      "id": "24a2e5cc-6eeb-44ef-ae07-631193fc1cd9",
      "name": "Send a message1",
      "webhookId": "31514b0e-13e2-4ec6-a90c-68d3b23b01f1",
      "credentials": {
        "gmailOAuth2": {
          "id": "sAn9iADsJiy2f1jA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1IYEpaHzBevEkgOg3lICHtKZE-8enKGlcrfZaR6Tycq8/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1784677368,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IYEpaHzBevEkgOg3lICHtKZE-8enKGlcrfZaR6Tycq8/edit#gid=1784677368"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1008,
        0
      ],
      "id": "8a0fe8d9-47f6-4524-845e-4d64315202ae",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4wvLZBKydRKKFlt4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/13WLiMNJkXugwj64g_ZffaXuM_vqafR8ffhmcxOmN0ME/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 578436132,
          "mode": "list",
          "cachedResultName": "n8n-sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13WLiMNJkXugwj64g_ZffaXuM_vqafR8ffhmcxOmN0ME/edit#gid=578436132"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        960,
        -144
      ],
      "id": "d31aaf51-1f6b-4015-adb6-0c0ac5902d6e",
      "name": "Get row(s) in sheet2",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "maxTries": 5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4wvLZBKydRKKFlt4",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c8c9a2b7-9872-456d-b32d-a61980fec73e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "816fb9f9dd7b4c0c04c0c3f9dd6f654526ffa04f4328743dc30ed9bb8ae32aed"
  },
  "id": "XJPR3ONe3k56W29L",
  "tags": []
}